@import "bootstrap/scss/bootstrap";
@import "font-awesome";

#content {
    padding: 5rem 0rem;
}

#search-form {
    margin-bottom: 10px;
}

.tag1 { font-size: 1.2em; margin-right: 3px;}
.tag2 { font-size: 1.4em; margin-right: 3px; }
.tag3 { font-size: 1.6em; margin-right: 3px; }
.tag4 { font-size: 1.8em; margin-right: 3px; }